/** User display **/
.fof-usersfield-avatar {
    padding-right: 6pt;
}

.fof-usersfield-username {
    color: #333;
    font-weight: bold;
}

.fof-usersfield-id {
    padding-left: 6pt;
    font-size: smaller;
    font-style: italic;
}

.fof-usersfield-id:before {
    content: "["
}

.fof-usersfield-id:after {
    content: "]"
}

.fof-usersfield-name {
    display: block;
    font-weight: bold;
    color: #006633;
}

.fof-usersfield-email {
    color: #666;
    font-size: smaller;
}